.wrapper{

	position: relative;
	max-width: 980px;
	background-color: rgba(255,255,255, 1);
	padding: 1em;
	margin: 7em auto 4em auto;
}

body{
background: #f8f3ef;

}
  
.empresa {
    
    font-family: arial, helvetica, serif;
	font-size: 30pt;
	font-weight:bold;	
	float: left;
	position: relative;

}

.blog {
    font-family: arial, helvetica, serif;
	font-size: 25pt;
	font-style: italic;
	font-weight: normal;
	padding-left: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid black;

}

* {
	list-style: none;
}

header {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.menu {
	max-width: 960px;
	
}

aside {

	
	float: right;
	width: 320px ;
	position: relative;
	background-color: #f8f8f8;
	list-style: none;
	display: inline;
}
section {
	float: left;
	width: 600px;
	position: relative;
	background-color: rgba(255,255,255, 1);
	display: inline;

}

.arg {
	max-width: 250px;
	float: right;
	position: relative;
	font-style: italic;
	text-align: right;
	font-family: droid serif; 

}


.clear {
	clear: both !important;
}